<header class="row">
    
    <div class="dropdown">
        <button class="dropbtn">|||</button>
        <div class="dropdown-content">
            <a href="/guardian">Back to Main</a>
            <a href="/guardian/indexLoadout">Loadouts</a>
            <a href="/guardian/indexFashion">Fashion</a>
            <a href="/user/logout"style="color: red">Logout</></a>
            
        </div>
    </div>
    <h1>Guardian Locker</h1> 
    
</header>