<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body id="body">
        <%- include("../partials/header.ejs") %>
            <main>
                <a href="/user/logout"><button style="color: red">Logout</button></a><br>
                <div class="mainIndex">

                    <div class="row">
                        
                        <div class="column">Loadouts<br><a href="/guardian/indexLoadout"><img class="loadoutLink"
                                src="https://cdn.shopify.com/s/files/1/0558/0780/3558/products/WDC91626_700x700.jpg?v=1618251978"
                                alt="its broken"></a></div>
                        <div class="column">Fashion<br><a href="/guardian/indexFashion"><img class="loadoutLink"
                                src="https://thumbs.dreamstime.com/b/fashion-logo-design-vector-fashion-logo-design-vector-format-121350891.jpg"
                                alt="its broken"></a></div>
                    </div>
                </div>
            </main>
    </body>

</html>