<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/header.ejs") %>

            <main>
                <div>
                    <h1>why are you here</h1>
                </div>
            </main>
    </body>

</html>