<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/header.ejs") %>

            <main>
                <a href="/guardian/indexFashion"><button>Back to Fashion Index</button></a><br>
                <div>
                    <form action="/indexFashion" method="post">
                        <fieldset>
                            <legend>New Guardian Fashion</legend>
                            <input type="text" name="helmOrnament" placeholder="Helment Ornament">
                            <input type="text" name="helmShader" placeholder="Helmet Shader">
                            <input type="text" name="gloveOrnament" placeholder="Glove Ornament">
                            <input type="text" name="gloveShader" placeholder="Glove Shader">
                            <input type="text" name="chestOrnament" placeholder="Chest Ornament">
                            <input type="text" name="chestShader" placeholder="Chest Shader">
                            <input type="text" name="bootOrnament" placeholder="Boot Ornament">
                            <input type="text" name="bootShader" placeholder="Boot Shader">
                            <input type="text" name="classItemOrnament" placeholder="Class Item Ornamnet">
                            <input type="text" name="classItemShader" placeholder="Class Item Shader">
                            <input type="url" name="fashionUrl" placeholder="Image Url!">
                            <input type="submit" value="Create New Fashion">
                        </fieldset>
                    </form>


                </div>
            </main>
    </body>

</html>