<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs") %>

<body id="body"></body>
    <%- include("../partials/header.ejs") %>
    
    <main>

        <div>
            <a href="/user/login"><button>Existing User?</button></a>
            <form action="/user/signup" method="post">
            <fieldset>
                <legend>New User</legend>
                <label>Username: <input type="text" name="username" required></label>
                <label>Password: <input type="password" name="password" require></label>
                <button type="submit">Create Account</button>
              
            </fieldset>
            </form>

        </div>
    </main>


</body>
</html>