#link {
    cursor: pointer
}
#link:hover {
    color: #b00b69
}
button {
    background-color: grey;
    border-color: blue;
    margin: 10px;
}
#body {
    background-color:rgba(80, 78, 78, 0.274)
}
.loadoutLink {
    max-width: 250px;
    max-height: 250px;
}
.mainIndex {
    text-align:  center;
}
.row {
    display: flex;
}
.column {
    flex: 50%;
}
#subClassTitan, #subClassHunter, #subClassWarlock, #arcGrenade, #voidGrenade, #solarGrenade, #stasisGrenade{
    display: none;
}
